body
{
    background-color: rgb(161, 155, 155);
}
.first
{
    background-color: rgb(251, 255, 37);
    padding: 50px;
    width: fit-content;
    display: flex;
    margin: auto;
    margin-top: 8rem;
    border:solid 2px black;
    border-radius: 9px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

input
{
   padding: 10px;
   width: 15rem;
   font-size: 16px;
   border: solid 1px black;
   border-radius: 5px;
   
}
input[type="submit"]:hover
{
    color: white;
    background-color: rgb(56, 52, 52);
    cursor: pointer;
    box-shadow: rgb(37, 35, 35);
    padding: 10px;
}
.gana
{
    background-color: green;
    margin: auto;
    padding: 100px;
}
label
{
    font-size: 20px;
    
}
table,td,th
{
    border: solid 2px black;
    border-style: dotted;
    border-collapse: collapse;
    padding: 5px;
}
select
{
padding: 0px;
   width: 16.4rem;
   font-size: 16px;
   border: solid 1px black;
   border-radius: 5px;
   padding: 10px;
   text-align: center;
}